doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Slider

        link(rel="stylesheet" type="text/css" href="/style/main.css")

    body
        block body
        <script src="/js/slide.js"></script>