doctype html

html
    head
        meta(charset="UTF-8")
        title Group work 18
        link(rel="stylesheet" type="text/css" href="/libs/bootstrap/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="/style/main.css")
    body

        div.dropdown
            button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Выпадающий список
            div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                a(class="dropdown-item" href="#") Первый
                a(class="dropdown-item" href="#") Второй
                a(class="dropdown-item" href="#") Третий
                a(class="dropdown-item" href="#") Четвертый
                a(class="dropdown-item" href="#") Пятый
                a(class="dropdown-item" href="#") Шестой

        script(src="/libs/jquery/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="/libs/bootstrap/bootstrap.js")
