extends ./_template.pug

block head
    title home work 05 - home

block header
    h1(id="home") Home

block naviFooter
    a(href="./index.html#home") Up
    =" "
    a(href="./about.html#other") About other