mixin navLink(hrefNavHome, hrefNavOther)
    div(class="navbar-nav navbar-expand mr-auto")
        a(class="nav-item nav-link" href=hrefNavHome) Home
        =" "
        a(class="nav-item nav-link" href=hrefNavOther) Other